.carousel .carousel-item{
 max-height: 70vh;
}

.carousel .carousel-item .carousel-caption{
    background-color: #d89d5180;
    top: 8rem;
    bottom: 8rem;
}

 .carousel .carousel-item .carousel-caption h3{
    
}
/*
.carousel .carousel-item .carousel-caption p{
    max-height: 70vh;
} */