.carousel .carousel-item{
 max-height: 70vh;
}

.carousel .carousel-item .carousel-caption{
    background-color: rgba(153,1,52,.4);
    /* background-color: rgba(229,149,0, .4); */
    /* background-color: rgba(52,52,52,.3); */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 7rem;
}

 .carousel .carousel-item .carousel-caption h3{
     color: #E5DADA;
     font-size: 2.1em;
     margin-top: 2em;
}
.carousel .carousel-item .carousel-caption p{
    color: #E5DADA;
    font-size: 1.3em;
    font-weight: bold;  
}

.app .main .carousel{
    margin-top: -6rem;

}
.app .main .carousel-item{
    
}
/*
.carousel .carousel-item .carousel-caption p{
    max-height: 70vh;
} */

@media screen and (max-width: 770px) {
    .app .main .carousel{
        height: 60vh;
        max-height: 70vh;
    }
    .app .main .carousel .carousel-item{
        height: 60vh;
        max-height: 70vh;
    }
    .app .main .carousel .carousel-item img{
        height: 100%;
        object-fit: cover;
    }
    .app .main .carousel .carousel-caption{
        display: block !important;
    }
    .carousel .carousel-item .carousel-caption h3{
    
        margin: 2em .8em .4em .8em;
        font-size: 1.3em;
        font-weight: bold; 
    } 
    .carousel .carousel-item .carousel-caption p{ 
        font-size: 1em;    
    } 
    

    /* .carousel .carousel-item{
 max-height: 70vh;
}

.carousel .carousel-item .carousel-caption{
    background-color: rgba(153,1,52,.4);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 7rem;
}

.app .main .carousel{
    margin-top: -6rem;

} */

}