.app-logo {
    height: 8vmin;
    pointer-events: none;
  }

.app .main .y-navbar nav.navbar{
  /* background-color: rgba(153,1,52,0); */
  /*background-color: rgba(229,149,0,.8); #E59500;*/
  background-color: transparent;
  z-index: 20;
}
.app .main .y-navbar .nav-link{
  color: #E5DADA;
  /* font-weight: bold; */
  font-size: .9rem;
}
/* .app .main .y-navbar .y-navvertical #v-pills-tab.nav-pills #v-pills-home-tab.nav-link.active{
  color: #E5DADA;  
  background-color: rgba(153,1,52,.4);
} */
.app  .nav-pills .nav-link.active, .nav-pills .nav-link {
  background-color: #fff;
  color: rgba(153,1,52,.95);
}

 .app  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background-color: rgba(153,1,52,.95);
   color: #fff;
 }



@media screen and (max-width: 770px) {
  .app .main .y-navbar nav.navbar .navbar-toggler-icon{
    width: 1em;
    height: 1em;
  }
  .app .main .y-navbar nav.navbar .navbar-collapse{
    position: absolute;
    top: 3.7rem;
    background-color: rgba(153,1,52,.4);
    width: 90%;
    padding: .6rem;
    border-radius: .4rem;
  }
  .app .main .y-navbar nav.navbar .navbar-collapse ul li{
    margin: 0;
    padding: 0;
  }
  .app .main .y-navbar nav.navbar .navbar-collapse ul li:nth-child(even){

    /* padding-left: .5rem; */
  }
}