.app-logo {
    height: 8vmin;
    pointer-events: none;
  }

.app .main .y-navbar nav.navbar{
  background-color: rgba(153,1,52,0);
  z-index: 20;
}
.app .main .y-navbar .nav-link{
  color: #E5DADA;
  font-weight: bold;
  font-size: .9rem;
}