:root {
  --primary-color: #990134; /* rgb(153,1,52) pink raspberry*/
  --secondary-color: #E59500; /* rgb(229,149,0) harvest gold*/
  --tertiary-color: #002642; /* rgb(0,38,66)  oxford blue */
  --dark-color: #02040F; /* rgb(2,4,15) rich black */
  --light-color: #E5DADA; /* rgb(229,218,218) gainsboro */
}
/*



*/